
.page {
  max-width: 880px;
  margin: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}


/* Medium Screens (Tablet) */
@media screen and (max-width: 879px) {
   
  .page {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}

/* Small Screens (Mobile) */
@media screen and (max-width: 550px) {
  .page {
    
    margin: 0 20px;
  }
}